body{font-family:Arial;background:#eef2ff}
.box{width:300px;margin:100px auto;background:white;padding:20px;border-radius:10px}
input,button{width:100%;padding:10px;margin:10px 0}
button{background:#004aad;color:white;border:none}
